[Unit]
Description=Autologin
After=rc-local.service plymouth-start.service systemd-user-sessions.service
After=getty@tty1.service
Conflicts=getty@tty1.service

# We quit plymouth ourselves
After=plymouth-quit.service
Conflicts=plymouth-quit.service

# Since this unit takes responsibility for quitting plymouth,
# if it fails plymouth must still stop
OnFailure=plymouth-quit.service


[Service]
Type=simple
ExecStart=autologin username start-command
IgnoreSIGPIPE=no
SendSIGHUP=yes
TimeoutStopSec=30s
KeyringMode=shared
Restart=always
RestartSec=1
StartLimitBurst=5
StartLimitInterval=30

[Install]
Alias=display-manager.service